body {
  padding-top: 75px;
  padding-bottom: 75px;
}

a {
  text-decoration: none !important;
}

nav a, nav button i {
  color: white;
}

.navbar-light a, .navbar-light span, .navbar-light button i {
  color: black;
}

label {
  font-weight: 700;
}

.width-90 {
  width:90%
}
